<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sequence</key>
	<array>
		<string>firstPass</string>
		<string>hblur</string>
		<string>vblur</string>
		<string>finalRender</string>
	</array>
	<key>passes</key>
	<dict>
		<key>firstPass</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>program</key>
			<string>FirstPass</string>
			<key>inputs</key>
			<dict>
				<key>a_position</key>
				<string>a_position-symbol</string>
				<key>u_colorSampler</key>
				<string>COLOR</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>firstPass_color</string>
			</dict>
		</dict>
		<key>hblur</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>program</key>
			<string>HorizontalBlur</string>
			<key>inputs</key>
			<dict>
				<key>a_position</key>
				<string>a_position-symbol</string>
				<key>u_colorSampler</key>
				<string>firstPass_color</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>hblur_color</string>
			</dict>
		</dict>
		<key>vblur</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>program</key>
			<string>VerticalBlur</string>
			<key>inputs</key>
			<dict>
				<key>a_position</key>
				<string>a_position-symbol</string>
				<key>u_colorSampler</key>
				<string>hblur_color</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>bothblurs_color</string>
			</dict>
		</dict>
		<key>finalRender</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>program</key>
			<string>FinalRender</string>
			<key>inputs</key>
			<dict>
				<key>a_position</key>
				<string>a_position-symbol</string>
				<key>u_blurmapSampler</key>
				<string>bothblurs_color</string>
				<key>u_colorSampler</key>
				<string>firstPass_color</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
		</dict>
	</dict>
	<key>targets</key>
	<dict>
		<key>firstPass_color</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
		<key>hblur_color</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
		<key>bothblurs_color</key>
		<dict>
			<key>type</key>
			<string>color</string>
		</dict>
	</dict>
	<key>symbols</key>
	<dict>
		<key>u_blurRadius-symbol</key>
		<dict>
			<key>type</key>
			<string>float</string>
		</dict>
		<key>u_viewportSize-symbol</key>
		<dict>
			<key>type</key>
			<string>vec2</string>
		</dict>
		<key>u_blurKernel-symbol</key>
		<dict>
			<key>type</key>
			<string>mat4</string>
		</dict>
		<key>a_position-symbol</key>
		<dict>
			<key>semantic</key>
			<string>vertex</string>
		</dict>
	</dict>
</dict>
</plist>
